@import "../../styles/variables.scss";

.login__container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/Codigos\ \(1\).svg");
  background-size: cover;
  animation: codeMoveDown 45s infinite;
  

  &__form {
    @include displayColumn;
    align-items: center;
    background: linear-gradient(
      225.05deg,
      rgba(250, 87, 112, 0.0954) 46.26%,
      rgba(232, 55, 82, 0) 146.26%
    );
    border-radius: 20px;
    width: 450px;
    height: 37.3rem;
    
    // margin: 2rem;

    &__logo {
      background-image: url("../../assets/images/Neon_Trivia.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 1.5rem;
      // background-position-y: -1.3rem;
      margin-top: 50px;
      width: 90%;
      height: 286px;
    }

    &__input{
      margin-bottom: 20px;
      padding: 2px 5px;
      width: 276px;
      height: 40px;
    }

    &__btn{
      margin-top: 15px;
      padding: 2px 5px;
      width: 250px;
      height: 55px;
      background: $gradient-01;
      border: none;
      border-radius: 5px;
      color: $white-dark;
      @include headings(24px, 600, 130%);
      box-shadow: (0px 6px 6px rgba(0, 0, 0, 0.25));
      transition: all .5s;
    }

    &__btn:hover {
      transition: all .5s;
      background: linear-gradient(243.46deg, #fc7185 16.66%, #e24d63 83.34%);
      // background: lighten($red-200, 0.5);
      box-shadow: (3px 3px 3px #f5a1ae49);
      border-radius: 4px;
      cursor: pointer;
    }
  }
}

#settings_btn{
  display: none;
}

@keyframes codeMoveDown {
  from {background-position-y: 0px;}
  to {background-position-y: 5500px;}
}