@import "../../styles/variables.scss";

.login__container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/Codigos\ \(1\).svg");
  

  &__form {
    @include displayColumn;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      225.05deg,
      rgba(250, 87, 112, 0.0954) 46.26%,
      rgba(232, 55, 82, 0) 146.26%
    );
    border-radius: 20px;
    width: 450px;
    height: 37.3rem;
    // margin: 2rem;

    &__logo {
      background-image: url("../../assets/images/Neon_Trivia.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 1.5rem;
      background-position-y: -1.3rem;
      width: 90%;
      height: 286px;
    }
  }
}
