@import "../../styles/variables.scss";

.login__container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/images/Codigos\ \(1\).svg");
  background-size: cover;
  animation: codeMoveDown 45s infinite;
  

  &__form {
    @include displayColumn;
    align-items: center;
    background: linear-gradient(
      225.05deg,
      rgba(250, 87, 112, 0.0954) 46.26%,
      rgba(232, 55, 82, 0) 146.26%
    );
    border-radius: 20px;
    width: 450px;
    height: 37.3rem;
    
    // margin: 2rem;

    &__logo {
      background-image: url("../../assets/images/Neon_Trivia.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 1.5rem;
      // background-position-y: -1.3rem;
      margin-top: 50px;
      width: 90%;
      height: 286px;
    }

    &__input {
      margin-bottom: 20px;
      padding: 2px 5px;
      border-radius: 5px;
      border-style: none;
      width: 276px;
      height: 40px;
      transition: 0.2s ease-in-out;

      &:focus {
        outline: 3.5px solid $red-200;
        transform: translateY(-2px);
      }
    }

    &__btn{
      margin-top: 15px;
      padding: 2px 5px;
      width: 250px;
      height: 55px;
      background: $gradient-01;
      border: none;
      border-radius: 5px;
      color: $white-dark;
      @include headings(24px, 600, 130%);
      box-shadow: (0px 6px 6px rgba(0, 0, 0, 0.25));
      transition: ease-in-out .2s;
    }

    &__btn:hover:enabled {
      box-shadow: (0px 5px 5px #f5a1ae49);
      border-radius: 4px;
      transform: scale(1.05);
      cursor: pointer;
    }

    &__btn:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

#settings_btn{
  display: none;
}

@keyframes codeMoveDown {
  from {background-position-y: 0px;}
  to {background-position-y: 5500px;}
}