@import '../../styles/variables.scss';

.feedback__container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/blur.svg');

  &__content {
    @include displayColumn;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__header {
      display: flex;
      align-items: center;
      gap: 40px;
      margin-bottom: 30px;
      
      h1 {
        font-size: 48px;
        color: #fff;
      }

      img {
        animation: neonBlink 3s infinite;
      }
    }
    
    &__buttonsContainer {
      margin-top: 20px;
      display: flex;
      gap: 20px;
    }
  }

  &__assertions, &__score {
    font-size: 36px;
    color: white;
    font-weight: 600;
  }

}

@keyframes neonBlink {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    opacity: 0.6;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    opacity: 1;
  }
}