@import "../../styles/variables.scss";

.header__container {
  height: 100%;
  background: rgba(255, 255, 255, 0.21);
  width: 344px;
  border-right: 3px solid #fff;

  &__aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    color: #fff;

    img {
      width: 70px;
      height: 70px;
      margin-top: 130px;
      border-radius: 50%;
    }

    &__playerName {
      span {
        @include headings(36px, 600, 36px);
        display: block;
        margin-top: 32px;
        word-wrap: break-word;
        text-align: center;
      }
    }

    &__playerScore {
      margin-top: 200px;

      span, p {
        display: block;
        @include headings(36px, 600, 36px);
      }

      span {
        text-align: center;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header__container {
    height: 60px;
    background: #ffffff36;
    width: 100%;
    border-right: 3px solid #fff;
    &__aside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      color: #fff;
  
      img {
        width: 50px;
        height: 50px;
        margin: 5px 0;
        border-radius: 50%;
      }
  
      &__playerName {
        span {
          @include headings(36px, 600, 20px);
          display: inline;
        }
      }
  
      &__playerScore {
        margin-top: 0;
  
        span, p {
          display: inline;
          font-size: 15px;
          margin: 0 10px;
        }
  
        span {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .header__container__aside__playerName span {
    font-size: 15px 
  }
}